.article-details > p {
	color: black
}

a:hover {
	text-decoration: none !important;
}

h1 {
	margin-top: 10px;
	font-size: 35px;
}
h1.article-link {
	margin-top: 0;
}

p.lead {
	margin-top: 10px;
}